SequencesDefinition.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="content" type="xs:string"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="type">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Start" />
        <xs:enumeration value="Stop" />
        <xs:enumeration value="Message" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  
  <xs:element name="marker">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="content"/>
        <xs:element ref="type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="sequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="name"/>
        <xs:element ref="marker" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="sequenceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="sequence" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>